.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;

  background-attachment: fixed;
  background-image: url("../images/backgrounds/360-bridge-light-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba($white, 0.4);
}

.Background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($white, 0.4);
}
