.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    margin: $space;
    overflow: hidden;

    background-color: rgba($white, .5);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    text-decoration: none;
    color: $white;
    box-shadow: 2px 2px 4px rgba($deep-gray, .5);
    &:hover, &:focus, &:active {
        box-shadow: none;
        transform: scale(1.01);
        .Card-overlay {
            opacity: 1;
        }
    }
}

.Card-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($deep-gray, .7);
}

.Card-paragraph,
.Card-heading {
    padding: $space-small;
    margin: 0;
}

.Card-paragraph {
    font-weight: 500;
}