.CardGallery {
    display: flex;
    justify-content: center;
    max-width: 60vw;
    margin: 0 auto;
    flex-wrap: wrap;
}

.CardGallery--contained {
    background-color: rgba($deep-gray, .7);
    color: $white;
    border-radius: 8px;
}

.CardGallery-title {
    width: 100%;
    flex-basis: 100%;
    margin-top: $space;
}

.CardGallery-paragraph {
    padding-top: $space-small;
    padding-bottom: $space-large;
    max-width: 40vw;
}

.CardGallery-cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60vw;
}