footer {
  height: $footer-height;
  position: fixed;
  left: 0;
  bottom: 0;
  background: inherit;
  width: 100%;
  z-index: 10;
}

.Footer {
  width: 100%;
  height: 100%;
  color: $deep-gray;
  border-top: 2px solid $deep-gray;
  background-color: rgba($white, 0.4);
}

.Footer-container {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    transparent 1%,
    rgba($deep-gray, 0.2) 70%,
    $deep-gray 100%
  );
  padding: 0 $space-100;
  width: 100%;
}

.Footer-socialLinks {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-top: $space-50;
  margin-bottom: $space-50;
}

.Footer-socialCue {
  width: 100%;
  text-align: center;
  font-weight: 700;
}
