.Header {
  position: relative;
  background-image: url("../images/backgrounds/header_background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-position: center 20%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;

  @media only screen and (min-width: 1024px) {
    background-position: center 30%;
    background-size: cover;
  }
}

.Header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    rgba($blue-gray-100, 0.01),
    rgba($blue-gray-100, 0.25) 90%
  );
  backdrop-filter: blur(12px);
}

.Header-content {
  position: relative;
  color: $black;
  display: block;
  text-transform: uppercase;
  opacity: 1;
  padding-top: $space-900;
  padding-left: $space-200;
  padding-right: $space-200;
}

.Header-intro {
  font-size: 1.25rem;
  margin-bottom: $space-100;

  @media only screen and (min-width: 480px) {
    margin-bottom: $space-200;
    font-size: 1.5rem;
  }
}

.Header-details {
  margin: 0;
}

.Header-heading {
  display: block;
  font-weight: bold;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 1.75rem;
  line-height: 2.5rem;

  @media only screen and (min-width: 480px) {
    font-size: 3rem;
    line-height: 3rem;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.Header-detail {
  display: block;
  font-size: 1rem;
  padding-top: $space-100;
}

.Header-socialLinks {
  margin: 0;
  padding-top: $space-100;

  @media only screen and (min-width: 480px) {
    padding-top: $space-200;
  }
}
