$bar-animation-speed: 175ms;

.Menu-toggle {
  @include menu-item;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
}

.Menu-toggleBar {
  width: 20px;
  height: 3px;
  background-color: $deep-gray;
  margin: 2px 0;
}

.Menu-toggleBar--first {
  animation: firstMenuBar $bar-animation-speed;
  transform: translateY(7px) rotate(45deg);
}

.Menu-toggleBar--second {
  opacity: 0;
}

.Menu-toggleBar--third {
  animation: secondMenuBar $bar-animation-speed;
  transform: translateY(-7px) rotate(-45deg);
}

@keyframes firstMenuBar {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes secondMenuBar {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}
