.Social {
  background-color: #33415c;
  padding: $space-400;
}

.Social-title {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.SocialLink {
  color: #87ceeb;
  display: inline-flex;
  font-size: 2em;
  margin: 0;
  margin-left: $space-100;
  margin-right: $space-100;

  @media only screen and (min-width: 720px) {
    font-size: 3em;
  }
}

.SocialLink-link {
  color: inherit;
  transition: 300ms;

  &:focus,
  &:hover {
    color: $blue-300;
  }
}
