$primary-color: #61dafb;

$soft-blue: #cfe8ef;

$deep-gray: #484349;
$blue-gray: #6b717e;

$white: #f7f0f0;

$body-font-size: 18px;

$space-small: 0.5rem;
$space-normal: 1rem;
$space-large: 2rem;
