$base-font-size: 16px;

// colors
$deep-gray: #484349;
$white: #f7f0f0;
$black: #000000;

$blue-100: #0466c8;
$blue-200: #0353a4;
$blue-300: #023e7d;
$blue-400: #002855;
$blue-500: #001845;
$blue-600: #001233;
$blue-700: #33415c;

$blue-gray-100: #979dac;
$blue-gray-200: #7d8597;
$blue-gray-300: #5c677d;

// spacers
$space-base: 8px;

$space-50: $space-base / 2;
$space-100: $space-base;
$space-200: $space-base * 2;
$space-300: $space-base * 3;
$space-400: $space-base * 4;
$space-500: $space-base * 5;
$space-600: $space-base * 6;
$space-700: $space-base * 7;
$space-800: $space-base * 8;
$space-900: $space-base * 9;

$footer-height: $space-100 * 5;
